body {
    background-color: #f5e1c0;
    /* background-image:
    linear-gradient(90deg, rgba(0,0,0,0.1) 8px, transparent 1px),
    linear-gradient(180deg, rgba(0,0,0,0.1) 8px, transparent 1px); */
    background-size: 50px 120px; 
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 100px 500px;
    padding: 20px;
}

/* body {
 background-image: url("wooden-table-with-blurred-background.avif");
 background-size: cover;
 background-repeat: no-repeat;
 background-color: #cccccc;
 background-position: center center;
 background-attachment: fixed;
} */

.pagetitle {
    color: #A74165;
    text-align: center;
}

header {
    background-color: #7600A8;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.searchbar{
    justify-items: center;
    align-content: space-between;
}


button {
    background-color: #8a2be2;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #211552;
}

a {
    color: #a70C25;
    text-decoration: none;
}


.aNav {
    color: #a70C25;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4b0082;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    color: #3C1362;
    text-decoration: none;
    padding-left: 50px;
}

h3 {
    color: #A74165;
    text-decoration: none;
}

.navbar {
  color: #a70C25;
  padding: 10px;
  align-content: space-between;
  justify-items: center;
  
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
}



.cardcontainer {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px;
    justify-items: center; 
}

.card {
    background-color: #da9c9c;
    padding: 20px;
    text-align: center;
    width: 300px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

