body {
    background-color: #e3cfae;
    background-size: 50px 120px; 
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}


.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    background-color: #f1e1e0;
    padding: 20px;
    text-align: center;
    width: 250px; 
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.outer-container {
  background-color: #ede4d4;
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: right;
  top: 60px; 
}

.bar-container {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}